.logo1{
    height: 120px;
    padding-top: 10px;
    margin: 1px 30%;
}
.text1{
    font-weight: bold;
    font-size: 20px;
}
.back1{
    background: #2699fb;
    padding:0px;
}
.border1{
    padding: 40px 60px;
    
}